{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {
                    "targets": ">1% in US and not ie 11"
                }
            }
        ]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["."],
            "alias": {
                "pages": "./pages",
                "stylus": "./public/stylus",
                "components": "./components",
                "~": "./public",
                "libs": "./libs",
                "workers": "./workers",
                "stores": "./stores"
            }
        }],
        "babel-plugin-dynamic-import-node"
    ]
}