{
    "presets": [
        ["next/babel"]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["."],
            "alias": {
                "pages": "./pages",
                "stylus": "./public/stylus",
                "components": "./components",
                "~": "./public",
                "libs": "./libs"
            }
        }],
        "babel-plugin-dynamic-import-node"
    ],
}