primary = #007aff
primary-text = #000
secondary-text = #777

background = #f5f9fa
root = #ffffff
border = #ceced2
preload = #efeff4

dark-primary = #0084ff
dark-primary-text = #ffffff
secondary-text = #999

dark-root = #333333
dark-border = #515151
dark-background = #212121
dark-preload = #ceced2

dark-ios-background = #000