#header
    display block
    width 100%
    padding 50px 0

    .title
        display block
        color var(--primary-text)
        font-size 48px
        font-weight bold
        margin 0

    .detail
        display block
        color var(--secondary-text)
        font-size 24px