#snackbar
    position fixed
    z-index 5
    left 5%
    bottom -58px
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    width 90%
    height 53px
    border-radius 4px
    color #fff
    padding 15px
    font-size 16px
    background-color #424242
    box-shadow 0 4px 8px alpha(#000, .123)
    animation snackbar 4s ease-in-out 0s 1

@keyframes snackbar
    15% 
        bottom calc(15px + env(safe-area-inset-bottom))

    85%
        bottom calc(15px + env(safe-area-inset-bottom))

    100%
        bottom -53px

@media screen and (min-width 568px)
    #snackbar
        left 30px
        width auto
        min-width 288px