#landing
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
    width 650px
    margin 0 auto
    padding calc(50px + 5vh) calc(5% + 15px)

#search 
    position sticky
    position -webkit-sticky
    z-index 1
    top 15px
    border 0
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    width 100%
    font-size 28px
    margin 5vh 0 40px 0
    padding 0 0 0 16px
    color var(--primary-text)
    background-color var(--root)
    border-radius 4px
    box-shadow  0 3px 7px rgba(0,0,0,.075),
                0 8px 25px rgba(0,0,0,.0325)
    overflow hidden
    outline none

#search-input
    appearance none
    -webkit-appearance none
    -moz-appearance none
    display flex
    width calc(100% - 64px)
    height 100%
    font-size 28px
    padding 16px 0
    border 0
    color var(--primary-text)
    background-color var(--root)
    outline none

    &:valid ~ #search-remove
        opacity .75

#search-icon
    width 32px
    height 32px
    margin 16px 8px 16px 0
    user-select none
    -webkit-user-select none

#search-remove
    width 32px
    height 32px
    margin 16px 12px 16px 0
    cursor pointer
    opacity .375
    transition opacity .15s ease-out

    &:hover,
    &:focus
        opacity 1

    &::selection,
    &::-webkit-selection
        background-color transparent

#search-tools
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    width 100%

#search-sort
    color var(--secondary-text)

    &::before,
    &::after
        background-color var(--secondary-text)

@media screen and (max-width 767.9px)
    #landing
        width 100%
        padding-left 5% 
        padding-right 5%