#order-table
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start
    width 100%
    color var(--primary-text)
    border-spacing 0

    & > .header
        width 100%

#order-table-header
    display flex
    flex-direction row
    width 100%
    padding 0 15px
    margin-bottom 10px

    & > .title
        font-size .95em
        color var(--secondary-text)
        
        &.name
            flex 1
            
#order-table-body
    display flex
    flex-direction column
    width 100%

    & > .row
        display flex
        width 100%
        border-radius 4px
        transition background-color .15s ease-out, box-shadow .15s ease-out

        & > .data
            flex 1
            font-size 18px
            text-transform capitalize
            line-height 1.325em
            padding 15px

            &.price
                flex 0
                display flex
                flex-direction row
                justify-content flex-end
                align-items center
                text-align right
                width 80px

        &:hover,
        &:focus
            background-color var(--root)
            box-shadow 0 3px 9px alpha(#000, .075)

    & > .row.total
        margin-top 10px
        color var(--primary)