#layout
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
    width 100%
    min-height calc(100vh - 58px)
    margin 0 auto
    padding 5vh calc(5% + env(safe-area-inset-right)) 0 calc(5% + env(safe-area-inset-left))
    animation layout-appear .2s ease-out 0s 1
    -webkit-animation layout-appear .2s ease-out 0s 1

@keyframes layout-appear
    from
        transform translateY(50px)
        opacity 0

@media screen and (min-width 768px)
    #layout
        width 650px
        padding 5vh calc((5% + 15px) + env(safe-area-inset-right)) 0 calc((5% + 15px) + env(safe-area-inset-left))